.table-action-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0;
}

.table-action-btn i {
    font-size: 20px;
}

.card {
    cursor: pointer;
}

.table td, .table th {
    padding: 0.5rem !important;
}

.form-select:disabled {
    font-weight: bold !important;
}

.multiselect-admin .select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 105px !important;
    
}

