.table-action-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0;
}

.table-action-btn i {
    font-size: 20px;
}

.card {
    cursor: pointer;
}

.table td, .table th {
    padding: 0.5rem !important;
}

.form-select:disabled {
    font-weight: bold !important;
}

