<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Refrerencia:</span>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Fecha:</span>
      <input type="date" class="form-control">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Contacto:</span>
      <select class="form-select">
        <option>CIPU</option>
        <option>BPS</option>
        <option selected>YOSBANY</option>
      </select>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Descripción:</span>
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Concepto:</span>
      <select class="form-select">
        <option>Aporte sociales</option>
        <option>Alquiles y otros</option>
        <option selected>Seguro accidente de trabajo</option>
      </select>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Importe Pago:</span>
      <input type="number" class="form-control">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <button id="guardarmovimiento" type="button" class="btn btn-primary" style="float: right;">Guardar</button>
  </div>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>