<table class="table table-borderless">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th style="text-align: right;">Sub Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">AZUCAR COMUN BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;"></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 59</span></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary" style="float: right;">$ 200</span></td>
    </tr>
    <tr>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">SAL COMUN BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;"></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 59</span></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary" style="float: right;">$ 200</span></td>
    </tr>
    <tr>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">HARINA 0 BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;"></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 59</span></td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary" style="float: right;">$ 200</span></td>
    </tr>
  </tbody>
</table>
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col" style="padding: 0px;">
      <div class="input-group">
        <span class="input-group-text" style="width: 200px;">Cant. Personas:</span>
        <input type="number" class="form-control">
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col" style="padding: 0px;">
      <div class="input-group">
        <span class="input-group-text" style="width: 200px;">Total Bocaditos:</span>
        <input type="number" class="form-control" readonly>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col" style="padding: 0px;">
      <div class="input-group">
        <span class="input-group-text" style="width: 200px;">Bocaditos x Pesonas:</span>
        <input type="number" class="form-control" readonly>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col" style="padding: 0px;">
      <div class="input-group">
        <span class="input-group-text" style="width: 200px;">Total $:</span>
        <input type="number" class="form-control" readonly>
      </div>
    </div>
  </div>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>