<div class="row mb-2">
  <div class="col-md">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Precio $:</span>
      <input type="number" class="form-control" id="precio">
    </div>
  </div>
  <div class="col-md mt-2 mb-2" style="margin-top: 10px;">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked style="scale: 1.5;" id="impuestosIncluidos">
      <label class="form-check-label">Impuestos Incluidos</label>
    </div>
  </div>
  <div class="col-md">
    <select class="form-select" id="tipoVenta">
      <option value="0.00">EX</option>
      <option value="0.10">TM</option>
      <option value="0.22" selected>TB</option>
    </select>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text" style="width: 150px;">Unidades:</span>
      <input type="number" class="form-control" id="unidades">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Margen %:</span>
      <input type="number" class="form-control" id="margen">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Costo $:</span>
      <input type="number" class="form-control" id="costo" readonly>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Ganancias $:</span>
      <input type="number" class="form-control" id="ganancias" readonly>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Precio Final $:</span>
      <input type="number" class="form-control" id="precioFinal" readonly>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Precio Final 20%:</span>
      <input type="number" class="form-control" id="veintePorciento" readonly>
    </div>
  </div>
  <div class="col-md">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Precio Final 25%:</span>
      <input type="number" class="form-control" id="veinticincoPorciento" readonly>
    </div>
  </div>
  <div class="col-md">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 150px;">Precio Final 30%:</span>
      <input type="number" class="form-control" id="treintaPorciento" readonly>
    </div>
  </div>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>