<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Turnos</th>
        <th scope="col">Martes</th>
        <th scope="col">Miércoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Virnes</th>
        <th scope="col">Sábado</th>
        <th scope="col">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle;">Mañana</th>
        <td>Salva<br><i>06:30 - 14:30<i></td>
        <td>Salva<br><i>06:30 - 14:30<i></td>
        <td>Ani<br><i>06:30 - 14:30<i></td>
        <td>Mireidys<br><i>06:30 - 14:30<i></td>
        <td>Mireidys<br><i>06:30 - 14:30<i></td>
        <td>Ani<br><i>06:30 - 14:30<i></td>
      </tr>
      <tr>
        <th scope="row" style="vertical-align: middle;">Tarde</th>
        <td>Kenia<br><i>14:30 - 22:30<i></td>
        <td>Ani<br><i>14:30 - 22:30<i></td>
        <td>Kenia<br><i>14:30 - 22:30<i></td>
        <td>Kenia<br><i>14:30 - 22:30<i></td>
        <td>Ani<br><i>14:30 - 22:30<i></td>
        <td>Mireidys<br><i>14:30 - 22:30<i></td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>