<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Responsable</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" style="scale: 1.6;">
            </td>
            <td style="vertical-align: middle;">
                <h4 style="margin-bottom: 0px !important;">SALVADOR</h4>
            </td>
            <td style="vertical-align: middle;">Esto es una descripcíon de una tarea donde se tiene que ejecutar la
                contabilización de 4 faturas</td>
        </tr>
        <tr class="table-success">
            <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" style="scale: 1.6;">
            </td>
            <td style="vertical-align: middle;">
                <h4 style="margin-bottom: 0px !important;">SALVADOR</h4>
            </td>
            <td style="vertical-align: middle;">Esto es una descripcíon de una tarea donde se tiene que ejecutar la
                contabilización de 4 faturas</td>
        </tr>
        <tr class="table-secondary">
            <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" style="scale: 1.6;">
            </td>
            <td style="vertical-align: middle;">
                <h4 style="margin-bottom: 0px !important;">SALVADOR</h4>
            </td>
            <td style="vertical-align: middle;">Esto es una descripcíon de una tarea donde se tiene que ejecutar la
                contabilización de 4 faturas</td>
        </tr>
    </tbody>
</table>
<script>
    window.location.href = '../../../access-denied.html';
</script>