<button type="button" class="btn btn-info" id="btn-nueva-orden">
    <i class="mdi mdi-plus fs-4"></i>
    Nueva Orden de Compra
</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><b>Fecha</b></th>
            <th scope="col"><b>Proveedor</b></th>
            <th scope="col"><b>Importe</b></th>
            <th scope="col" class="text-end"><b>Acciones</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col" style="vertical-align: middle;">Fecha 1</th>
            <th scope="col" style="vertical-align: middle;">Proveedor </th>
            <th scope="col" style="vertical-align: middle;">Importe 1</th>
            <th scope="col" style="vertical-align: middle;">
                <div class="d-flex flex-column flex-md-row justify-content-end" style="float: right;">
                    <button type="button" class="view btn btn-info btn-sm table-action-btn mb-1 mb-md-0 me-md-1" id-row-data-bind="34">
                        <i class="mdi mdi-eye"></i>
                    </button>
                    <button type="button" class="edit btn btn-primary btn-sm table-action-btn mb-1 mb-md-0 me-md-1" id-row-data-bind="34">
                        <i class="mdi mdi-table-edit"></i>
                    </button>
                    <button type="button" class="delete btn btn-danger btn-sm table-action-btn" id-row-data-bind="34">
                        <i class="mdi mdi-delete"></i>
                    </button>
                </div>
            </th>
        </tr>

    </tbody>
</table>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btn-confirm-delete">Eliminar</button>
            </div>
        </div>
    </div>
</div>