<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><b>Fecha</b></th>
                        <th scope="col"><b>Proveedor</b></th>
                        <th scope="col"><b>Importe</b></th>
                        <th scope="col" style="text-align: right;"><b>Acciones</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" style="vertical-align: middle;">Fecha 1</th>
                        <th scope="col" style="vertical-align: middle;">Proveedor </th>
                        <th scope="col" style="vertical-align: middle;">Importe 1</th>
                        <th scope="col" style="text-align: right;vertical-align: middle;">
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="mdi mdi-plus"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="mdi mdi-plus"></i>
                            </button>
                        </th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>