<select class="form-select form-select-lg" id="proveedorSelect">
  <option selected>SELECCIONE...</option>
</select>

<table class="table table-borderless">
  <thead>
    <tr>
      <th></th>
      <th>Producto</th>
      <th>Precio</th>
      <th style="text-align: right;">Stock</th>
    </tr>
  </thead>
  <tbody id="productosTableBody">
    <!-- Rows will be dynamically added here -->
  </tbody>
</table>

<label for="comment" class="mt-4">Resumen del Pedido:</label>
<textarea class="form-control mb-4" rows="5" id="comment"></textarea>
<button type="button" class="btn btn-primary" id="copiarBtn">Copiar</button>
<button type="button" class="btn btn-primary" id="imprimirBtn">Imprimir</button>
