<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 200px;">Nombre Completo:</span>
      <input type="text" class="form-control" id="fullName">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 200px;">Correo Electrónico:</span>
      <input type="text" class="form-control" id="email" readonly>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width: 200px;">Token Manager IO:</span>
      <input type="text" class="form-control" id="tokenMagerIO">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <button type="button" id="guardarBtn" class="btn btn-primary" style="float: right;">Guardar</button>
  </div>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>
