<select class="form-select form-select-lg">
  <option>Todos</option>
  <option>Orden</option>
  <option>Pedido</option>
  <option>Entrega</option>
</select>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Proveedor</th>
        <th scope="col">Lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miércoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Virnes</th>
        <th scope="col">Sábado</th>
        <th scope="col">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle;">Coca Cola</th>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Pedido<br>Entrega</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
      </tr>
      <tr>
        <th scope="row" style="vertical-align: middle;">Salus</th>
        <td>Orden<br>Pedido</td>
        <td>Orden<br>Pedido</td>
        <td>Orden<br>Pedido</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
      </tr>
      <tr>
        <th scope="row" style="vertical-align: middle;">Irazu</th>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Entrega</td>
        <td>Orden<br>Pedido</td>
        <td>Orden<br>Pedido</td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>