<div class="row mb-3">
  <div class="col">
    <input id="searchInput" type="text" class="form-control" placeholder="Ingrese el nombre del producto">
  </div>
  
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Proveedor</th>
      <th>Cantidad</th>
      <th>Precio Con IVA</th>
      <th>Precio Final</th>
    </tr>
  </thead>
  <tbody id="productosTableBody">
    <!-- Rows will be dynamically added here -->
  </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>