<select class="form-select form-select-lg">
  <option>CLIENTE 1</option>
  <option>CLIENTE 2</option>
  <option>CLIENTE 3</option>
  <option>CLIENTE 4</option>
</select>

<table class="table table-borderless">
  <thead>
    <tr>
      <th></th>
      <th>Producto</th>
      <th>Precio</th>
      <th style="text-align: right;">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" checked style="scale: 1.6;">
      </td>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">AZUCAR COMUN BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 59</span></td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;float: right;">
      </td>
    </tr>
    <tr>
      <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" style="scale: 1.6;"></td>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">SAL COMUN BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 134</span></td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;float: right;">
      </td>
    </tr>
    <tr>
      <td style="vertical-align: middle;"><input class="form-check-input" type="checkbox" style="scale: 1.6;"></td>
      <td style="vertical-align: middle;">
        <h4 style="margin-bottom: 0px !important;">HARINA 0 BOLSA 25KG</h4>
      </td>
      <td style="vertical-align: middle;"><span class="badge bg-secondary">$ 45</span></td>
      <td style="vertical-align: middle;"><input type="number" class="form-control" style="width: 80px;float: right;">
      </td>
    </tr>
  </tbody>
</table>
<label for="comment" class="mt-4">Resumen del Pedido:</label>
<textarea class="form-control mb-4" rows="5" id="comment" name="text" readonly></textarea>
<button type="button" class="btn btn-primary">Copiar</button>
<button type="button" class="btn btn-primary">Imprimir</button>
<button type="button" class="btn btn-primary">Guardar</button>

<script>
  window.location.href = '../access-denied.html';
</script>