<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" style="text-align: right;">Jornal</th>
        <th scope="col" style="text-align: right;">Sueldo Mes</th>
        <th scope="col" style="text-align: right;">Sueldo Acumulado</th>
        <th scope="col" style="text-align: right;">Días Licencia</th>
        <th scope="col" style="text-align: right;">Licencia</th>
        <th scope="col" style="text-align: right;">Vacaciones</th>
        <th scope="col" style="text-align: right;">Aguinaldo</th>
        <th scope="col" style="text-align: right;">Total Acumulado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle;">Julio [02/2022]</th>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 59</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 339</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 545</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 499</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 590</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 403</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 403</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 403</span></td>
      </tr>
      <tr>
        <th scope="row" style="vertical-align: middle;">Julio [02/2022]</th>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 49</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 639</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 535</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 496</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 590</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 46</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 63</span></td>
        <td style="text-align: right;"><span class="badge bg-secondary">$ 4103</span></td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  window.location.href = '../access-denied.html';
</script>